* {
    padding: 0;
    margin: 0;
    border: 20%;    
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main__wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(218, 218, 218);
    padding-top: 20px;
    padding-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.input_2{
    margin: auto;
    width: 99%;
    font-size:120%; 
    background-color:white; 
    border:1px solid rgba(0, 0, 0, .3);
}
.input_mainandetc{
    height: 150px;
    width:98%;
    font-size:120%; 
    margin: 5px;
    background-color:white; 
    border:1px solid rgba(0, 0, 0, .3);
}
.submit{
    padding-top: 10px;
    display: flex;
    justify-content: center;   
}
.btn {
    padding: 5px 10px;
    margin: 0 20px;
    color: #000000;
    font-family: 'Montserrat Alternates', sans-serif;
    border: 3px solid;
    background: white;
    outline: none;
    cursor: pointer;
 }
 .text {
    position: relative;
    display: inline;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 600;
    z-index: 5;
 }
.submit_but .text:after {
    content: "";
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background: #505050;
    z-index: -1;
    transition: .3s ease;
 }
 .submit_but:hover .text:after {
    height: 100%;
    bottom: 0;
    top: auto;
 }
textarea {
    resize: none;
}
#modalWin{
    display: none;
    background-color: rgba(201, 201, 201, 0.8);
    width: 100vw;
    height: 700px;
    position: absolute;
    padding-top:2vh;
}
#bufmodal{
    display: flex;
    justify-content: center;
    align-items: center;
}